<div class="row">
    <h1>Proyecto En curso</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
          <h2>Pagina web de Medicina Estética </h2>
          <p class="h4">Mi trabajo en progreso de una pagína Web resposive de un consultorio de medicina estética,  con un SEO amigable un diseño atractivo y con conexiones a las redes sociales e información de los  servicios que se brinda y sus contactos. </p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
           <img src="../../../assets/estetica.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
