<div class="row">
    <h1>Hard & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <h5>Lenguaje HTML 95%</h5>
        <circle-progress
          [percent]="95"
          [radius]="100"
          [imageSrc]="'../assets/html.png'"
          [showImage]="true"
          [imageHeight]="100"
          [imageWidth]="100"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'orange'"
          [innerStrokeColor]="'orange'"
          [animation]="true"
          [animationDuration]="7000"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5>Lenguaje CSS 90%</h5>
        <circle-progress
          [percent]="90"
          [radius]="100"
          [imageSrc]="'../assets/CSS.png'"
          [showImage]="true"
          [imageHeight]="100"
          [imageWidth]="100"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'blue'"
          [innerStrokeColor]="'blue'"
          [animation]="true"
          [animationDuration]="7000"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5>Lenguaje JavaScript 85%</h5>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [imageSrc]="'../assets/js.png'"
          [showImage]="true"
          [imageHeight]="100"
          [imageWidth]="100"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'yellow'"
          [innerStrokeColor]="'yellow'"
          [animation]="true"
          [animationDuration]="7000"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5><a href="https://github.com/MaxiPerezx" target="blank">MaxiPerezx</a> 95%</h5>
        <circle-progress
          [percent]="95"
          [radius]="100"
          [imageSrc]="'../assets/git.png'"
          [showImage]="true"
          [imageHeight]="100"
          [imageWidth]="100"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'black'"
          [innerStrokeColor]="'black'"
          [animation]="true"
          [animationDuration]="7000"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5>Ingles y Fances 70%</h5>
        <circle-progress
          [percent]="70"
          [radius]="100"
          [imageSrc]="'../assets/eng.png'"
          [showImage]="true"
          [imageHeight]="100"
          [imageWidth]="100"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'blue'"
          [innerStrokeColor]="'red'"
          [animation]="true"
          [animationDuration]="7000"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5>Trabajo en grupo 100%</h5>
        <circle-progress
          [percent]="100"
          [radius]="100"
          [imageSrc]="'../assets/grupal.png'"
          [showImage]="true"
          [imageHeight]="100"
          [imageWidth]="100"
          [outerStrokeWidth]="13"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'green'"
          [innerStrokeColor]="'gray'"
          [animation]="true"
          [animationDuration]="7000"
        ></circle-progress>
      </div>
</div>