.gradient-custom {
    /* fallback for old browsers */
    background: #26bbe9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(7, 27, 139), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(28, 168, 233), rgba(37, 117, 252, 1))
    }