<main class="conteiner">
  <div class="row">
    <!--- columna izquierda-->
    <div class="col-12 col-lg-9">
      <div class="row">
        <div class="col-12 col-lg-8 p-3">
          <article class="card h-100 shadow-lg">
            <div class="card-body border border-2 border border-primary">
              <div class="d-flex mb-3">
                <img
                  src="../../../assets/col.escri.jpg"
                  alt=""
                  class="border border-secondary border-3 rounded-circle"
                />
                <div class="ps-lg-3 text-dark">
                  <h5 class="m-0">Escibania Delloca</h5>
                  <p class="m-0 h6"><B>Reg.46 (2010-2015)</B></p>
                </div>
              </div>
              <div>
                <p class="h3">
                  <B>Gestoria, atención al publico y registro de firmas.</B>
                </p>
                <p class="f-6 lh-3">
                  Preparar formularios como “MINUTAS DE INSCRIPCION”, toma de
                  firmas y controlar veracidad de documentos, control del
                  ingreso y egreso de escrituras en el registro inmobiliario,
                  sellados de contratos en rentas e impuestos tributarios, pago
                  en los distintos bancos de la provincia.
                </p>
              </div>
            </div>
          </article>
        </div>

        <div class="col-12 col-lg-4 p-3">
          <article class="card h-100 shadow-lg">
            <div class="card-body border border-2 border border-primary">
              <div class="d-flex mb-3">
                <img
                  src="../../../assets/paramedico.jpg"
                  alt=""
                  class="border border-secondary border-3 rounded-circle"
                />
                <div class="ps-lg-3">
                  <h5 class="m-0">Paramedico</h5>
                  <p class="m-0 h6">
                    <B>Instituto Latinoamericano para el desarrollo</B>
                  </p>
                </div>
              </div>
              <div>
                <p class="h5">
                  Encargado de asistir y trabajar al lado del médico cuidando a
                  los pacientes en el marco de una situación compleja de
                  emergencia, para luego trasladarlos a una institución médica.
                </p>
              </div>
            </div>
          </article>
        </div>

        <div class="col-12 col-lg-4 p-3">
          <article class="card h-100 shadow-lg">
            <div class="card-body border border-2 border border-primary">
              <div class="d-flex mb-3">
                <img
                  src="../../../assets/salinas.jpeg"
                  alt=""
                  class="border border-secondary border-3 rounded-circle"
                />
                <div class="ps-lg-3">
                  <h5 class="m-0">Instr. En Ej. Funcional</h5>
                  <p class="m-0 h6"><B>Univ. de Congreso</B></p>
                </div>
              </div>
              <div>
                <p class="h6">
                  Aplicando la anatomía funcional al entrenamiento de manera
                  integral para mejorar la capacidad de reacción y desempeñarse
                  de la manera más óptima, incluyendo cualquier entorno
                  deportivo y siempre teniendo en cuenta las características
                  físicas para un estado saludable de la persona.
                </p>
              </div>
            </div>
          </article>
        </div>

        <div class="col-12 col-lg-8 p-3">
          <article class="card h-100 shadow-lg">
            <div class="card-body border border-2 border border-primary">
              <div class="d-flex mb-3">
                <img
                  src="../../../assets/icono.guardia.jpg"
                  alt=""
                  class="border border-secondary border-3 rounded-circle"
                />
                <div class="ps-lg-3 text-dark">
                  <h5 class="m-0">Seguridad Privada</h5>
                  <p class="m-0 h6"><B>Seguridad Benja Srl. (2018-2022)</B></p>
                </div>
              </div>
              <div>
                <p class="h5">
                  Me desempeñe al comienzo como guardia de seguridad con la
                  tarea de cuidar de empresas y trabajando en Festivales
                  importantes custodiando artistas.
                </p>
                <p class="f-6 lh-1 h5">
                  Actualmente desempañando la función Encargado de Seguridad en
                  sucursal de "Banco Macro", custodiando el Tesoro, manejo de
                  cámaras de seguridad y protocolo de Seguridad Bancaria.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <!--columna derecha-->
    <div class="col-12 col-lg-3 p-2">
      <article class="card">
        <div class="card-body border border-2 border border-primary">
          <div class="d-flex mb-3">
            <img
              src="../../../assets/EEG.png"
              alt=""
              class="border border-secondary border-3 rounded-circle"
            />
            <div class="ps-lg-3">
              <h5 class="m-0">Egg Programación</h5>
              <p class="m-0 h6"><B>And &lt;&gt;Rolling Code</B></p>
            </div>
          </div>
          <div>
            <p class="h4">
              Cursando distintos cursos de Programación, capacitándome en
              lenguajes como <B>HTML, CSS, JavaScript;</B> en

              <a href="https://eggeducacion.com/es-AR/" target="blank"
                >Egg Educación</a
              >

              con beca del 100% IProfesional con

              <B>certificación de Programación desde cero.</B> Trabajando en
              algoritmos en el programa PSInt, juntos en mesas virtuales de
              interacción que desarrollan Las Hard y Soft Skills y consultando
              junto a compañeros y a veces como encargado de la sala y guia de
              trabajo en curso. Buen manejo de IDE como Netbeans y conocimiento
              en trabajo de base de datos con <B>Worbench y PHPMyAdmin.</B>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</main>
