<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/WhatsApp Image 2022-03-15 at 10.01.55 PM (1).jpeg"
      class="img-fluid"
      id="fotodeperfil"
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h3 id="nombre">{{ persona.nombre }} {{ persona.apellido }}</h3>
    <h4>Full Stack Developer Jr.</h4>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>
        Mis estudios y trabajos los realicé con esfuerzo y pensando en un Futuro
        junto a mi familia. Siendo una persona responsable que cumple con los
        horarios de trabajo y respeta a sus compañeros, si no sé algo, pregunto
        y aprendo sin mezquinar mis conocimientos también , trantando siempre de
        resolver los problemas y trabajando en grupo. Adoptando una buena
        presencia. Suelo practicar deportes, como jugar al futbol e ir al
        Gimnasio en mis tiempos libres.
      </p>
    </span>
  </div>
</div>
