<div class="row">
    <div class="conteiner">
      <div class="logo">
       <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="blank"><img src="../../../assets/APLogo.png" id="logoAP"></a> 
      </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/maxi-perez-97a340237" target="blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/MaxiPerezx" target="blank"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.facebook.com/profile.php?id=100011059902136" target="blank"><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href="https://twitter.com/MaxmanulMaxi" target="blank"><img src="../../../assets/twitter.png" id="twitter"></a>
            <button type="button" class="btn btn-outline-secondary" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-secondary" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>

